* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #08070a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: inherit;
}
